* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "IBM Plex Sans Thai Looped", sans-serif;
  font-family: "Roboto Mono", monospace;
}

.container {
  width: 1600px;
  margin: 0 auto;
}

header {
  padding-bottom: 15px;
  -webkit-filter: drop-shadow(0px 1px 10px rgba(18, 87, 91, 0.25));
          filter: drop-shadow(0px 1px 10px rgba(18, 87, 91, 0.25));
  background-color: #2A8086;
}
header .header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 0 10px;
}
header .menu ul li {
  padding: 0 10px 0 10px;
  list-style: none;
}
header .menu ul li a {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: #C5E1E6;
}
header .menu ul li:hover {
  border-bottom: 1px solid white;
}
header .header__logo {
  padding-right: 15px;
}
header .header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .header__buttons .header__search {
  width: 32px;
  height: 32px;
  padding: 3px;
}
header .header__buttons .header__login {
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #C5E1E6;
  padding: 0 20px 0 20px;
}
header .header__buttons .header__button {
  border: 1px solid #C5E1E6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  color: #C5E1E6;
  padding: 8px;
  background-color: #2A8086;
}

.top {
  background-image: url("img/Frame 1304.svg");
}
.top .top__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 40px;
}
.top .top__content .top__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 400px;
  max-width: 900px;
  padding-bottom: 80px;
}
.top .top__content .top__main .top__title {
  font-style: normal;
  font-weight: 300;
  font-size: 72px;
  line-height: 85px;
  color: #F3F7F8;
}
.top .top__content .top__main .top__title span {
  display: block;
  font-weight: bold;
}
.top .top__content .top__main .top__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #F3F7F8;
  width: 500px;
}
.top .top__content .top__main .top__button {
  background: #FFFFFF;
  border: none;
  -webkit-box-shadow: 0px 2px 50px rgba(185, 213, 217, 0.6);
          box-shadow: 0px 2px 50px rgba(185, 213, 217, 0.6);
  border-radius: 100px;
  width: 250px;
  text-align: center;
  padding: 9px;
  cursor: pointer;
}
.top .top__content .top__main .top__button a {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: #0D444D;
  text-decoration: none;
}
.top .top__content .top__img {
  width: 600px;
  padding: 20px 0 60px 0;
}

.main__item .items {
  padding: 150px;
}
.main__item .title_items {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #0D444D;
  padding: 0 40px 100px 0;
}
.main__item .item__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main__item .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main__item .item__img {
  background: #FFFFFF;
  padding: 20px;
  -webkit-box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.06);
  border-radius: 60px;
}
.main__item .item__img img {
  width: 64px;
  height: 64px;
}
.main__item .item__text {
  padding: 15px 0 0 0;
}
.main__item img {
  max-height: 100%;
  max-width: 100%;
}

.animals {
  padding-top: 50px;
  margin-bottom: 100px;
}
.animals .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.animals .first__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1600px;
  padding: 30px;
}
.animals .title__item {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #0D444D;
}
.animals .btn__item {
  border: 1.5px solid #19707D;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #19707D;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.animals .btn__item img {
  padding-right: 9px;
}
.animals .second__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.animals .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 450px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  margin: 40px;
}
.animals .item__img {
  margin: 0 auto;
  padding: 20px;
}
.animals .item__img img {
  width: 220px;
  height: 220px;
}
.animals .item__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #E5EAEB;
  padding: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.animals .content__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.animals .content__title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #2D2D2D;
}
.animals .content__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #919191;
  padding-top: 7px;
}

.donate {
  background-image: url("img/bgSec4.png");
  background-repeat: no-repeat;
}
.donate .content__donate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 100px;
}
.donate .donate__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 120px;
}
.donate .donate__title {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #C5E1E6;
}
.donate .donate__button {
  background: #C5E1E6;
  border-radius: 100px;
  border: none;
  padding: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: #0D444D;
  -webkit-box-shadow: 0px 2px 50px rgba(185, 213, 217, 0.6);
          box-shadow: 0px 2px 50px rgba(185, 213, 217, 0.6);
  cursor: pointer;
}
.donate .donate__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.donate .donate__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.donate .item__arrow {
  padding-bottom: 60px;
}
.donate .item__img {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 50px rgba(185, 213, 217, 0.6);
          box-shadow: 0px 2px 50px rgba(185, 213, 217, 0.6);
  border-radius: 50%;
  padding: 20px;
}
.donate .item__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #C5E1E6;
  padding-top: 25px;
}

.reviews {
  margin-top: 100px;
}
.reviews .reviews__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.reviews .reviews__info__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 50px;
}
.reviews .reviews__text__top {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #0D444D;
}
.reviews .reviews__button__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1.5px solid #19707D;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100px;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #19707D;
  padding: 9px;
}
.reviews .reviews__button__top img {
  padding-right: 5px;
}
.reviews .comments__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.reviews .comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 20px 0 20px;
  width: 600px;
}
.reviews .comments__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 7px 30px rgba(0, 0, 0, 0.18);
          box-shadow: 0px 7px 30px rgba(0, 0, 0, 0.18);
  border-radius: 20px;
  padding: 20px;
}
.reviews .comments__info:before {
  content: "";
  width: 0;
  height: 0;
  right: calc(87% - 12px);
  top: 97%;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: absolute;
  border-top: 15px solid transparent;
  border-right: 24px solid #FFFFFF;
  border-bottom: 15px solid transparent;
  border-radius: 5px;
}
.reviews .comments__date {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #B3B3B3;
  padding-bottom: 10px;
}
.reviews .comments__text {
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #2D2D2D;
  padding-bottom: 100px;
}
.reviews .comments__commentator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 25px;
  padding-left: 20px;
}
.reviews .commentator__img {
  padding-right: 20px;
}
.reviews .commentator__text {
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.performance {
  margin-top: 100px;
}
.performance .performance__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.performance .performance__title {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #0D444D;
  padding-bottom: 60px;
}
.performance .performance__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.performance .animal__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.performance .animal__img img {
  width: 80px;
  height: 80px;
}
.performance .animal__text {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #2D2D2D;
}

footer {
  margin-top: 120px;
  background-color: #2A8086;
}
footer .footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0 50px 0;
}
footer .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 0 10px;
}
footer .menu ul li {
  padding: 0 10px 0 10px;
  list-style: none;
}
footer .menu ul li a {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: #C5E1E6;
}
footer .menu ul li:hover {
  border-bottom: 1px solid white;
}
footer .header__logo {
  padding-right: 15px;
}
footer .footer__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
footer .footer__text p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  text-transform: uppercase;
  color: #FFFFFF;
}