


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    font-family: 'Roboto Mono', monospace;
}
.container {
    width: 1600px;
    margin: 0 auto;
}
header {
    padding-bottom:15px ;
    filter: drop-shadow(0px 1px 10px rgba(18, 87, 91, 0.25));
    background-color: #2A8086;
    .header__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .menu {
        display: flex;
        justify-content: space-between;
        ul{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 0 0 10px;
            li{
                padding: 0 10px 0 10px;
                list-style: none;
                a{
                    text-decoration: none;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 24px;
                    text-transform: uppercase;
                    color: #C5E1E6
                }
                &:hover{
                    border-bottom: 1px solid white;
                }
            }
        }
    }
    .header__logo {
        padding-right: 15px;
    }
    .header__buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .header__search {
            width: 32px;
            height: 32px;
            padding: 3px;
    
        }
        .header__login {
            text-decoration: none;
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
            text-transform: uppercase;
            color: #C5E1E6;
            padding: 0 20px 0 20px;
        }
        .header__button {
            border: 1px solid #C5E1E6;
            box-sizing: border-box;
            border-radius: 100px;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 21px;
            text-transform: uppercase;
            color: #C5E1E6;
            padding: 8px;
            background-color: #2A8086;
        }
    
    }

}





.top {
    background-image: url('img/Frame\ 1304.svg');
    .top__content {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-bottom:40px ;
        .top__main {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            height: 400px;
            max-width: 900px;
            padding-bottom:80px ;
            .top__title {
                font-style: normal;
                font-weight: 300;
                font-size: 72px;
                line-height: 85px;
                color: #F3F7F8;
                span{
                    display: block;
                    font-weight: bold;
                }
            }
            .top__text {
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                color: #F3F7F8;
                width: 500px;

            }
            .top__button {
                background: #FFFFFF;
                border: none;
                box-shadow: 0px 2px 50px rgba(185, 213, 217, 0.6);
                border-radius: 100px;
                width: 250px;
                text-align: center;
                padding: 9px;
                cursor: pointer;
                a{
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 24px;
                    letter-spacing: -0.05em;
                    text-transform: uppercase;
                    color: #0D444D;
                    text-decoration: none;
                }
            }
        }
        .top__img {
            width: 600px;
            padding: 20px 0 60px 0;
        }
    }
}

.main__item {
    .items {
        padding: 150px;
    }
    .title_items {
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        text-transform: uppercase;
        color: #0D444D;
        padding: 0 40px 100px 0;
    }
    .item__row {
        display: flex;
        justify-content: space-between;
    }
    .item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .item__img {
        background: #FFFFFF;
        padding: 20px;
        box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.06);
        border-radius: 60px;
        img{
            width: 64px;
            height: 64px;
        }
    }
    .item__text {
        padding: 15px 0 0 0;
    }
    img{
        max-height: 100%;
        max-width: 100%;
    }
}


.animals {
    padding-top: 50px;
    .items {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .first__items {
        display: flex;
        justify-content: space-between;
        width: 1600px;
        padding: 30px;
    }
    .title__item {
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        text-transform: uppercase;
        color: #0D444D;
    }
    .btn__item {
        border: 1.5px solid #19707D;
        box-sizing: border-box;
        border-radius: 100px;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #19707D;
        padding: 10px;
        display: flex;
        align-items: center;
        cursor: pointer;
        img{
            padding-right: 9px;
        }
    }
    .second__items {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

    }
    .item {
        display: flex;
        flex-direction: column;
        width: 450px;
        background: #FFFFFF;
        box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.06);
        border-radius: 10px;
        margin: 40px;
    }
    .item__img {
        margin: 0 auto;
        padding: 20px;
        img{
            width: 220px;
            height: 220px;

        }
    }
    .item__content {
        display: flex;
        justify-content: space-between;
        border-top:1px solid #E5EAEB;
        padding: 30px;
        align-items: center;
    }
    .content__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .content__title {
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        color: #2D2D2D;
    }
    .content__text{
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #919191;
        padding-top:7px ;
    }
   margin-bottom: 100px;
}


.donate {
    background-image: url('img/bgSec4.png');
    background-repeat: no-repeat;
    .content__donate {
        display: flex;
        flex-direction: column;
        padding: 100px;
    }
    .donate__text {
        display: flex;
        justify-content: space-between;
        margin-bottom:120px;
    }
    .donate__title {
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        text-transform: uppercase;
        color: #C5E1E6;
    }
    .donate__button {
        background: #C5E1E6;
        border-radius: 100px;
        border: none;
        padding: 10px;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -0.05em;
        text-transform: uppercase;
        color: #0D444D;
        box-shadow: 0px 2px 50px rgba(185, 213, 217, 0.6);
        cursor: pointer;
    }
    .donate__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .donate__item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .item__arrow{
        padding-bottom: 60px;
    }
    .item__img {
        background: #FFFFFF;
        box-shadow: 0px 2px 50px rgba(185, 213, 217, 0.6);
        border-radius: 50%;
        padding: 20px;
    }
    .item__text {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: #C5E1E6;
        padding-top: 25px;
    }
}




.reviews {
    margin-top: 100px;
    .reviews__info {
        display: flex;
        flex-direction: column;
    }
    .reviews__info__top {
        display: flex;
        justify-content: space-between;
        padding-bottom: 50px;
    }
    .reviews__text__top {
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        text-transform: uppercase;
        color: #0D444D;
    }
    .reviews__button__top {
        display: flex;
        align-items: center;
        border: 1.5px solid #19707D;
        box-sizing: border-box;
        border-radius: 100px;
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 24px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #19707D;
        padding: 9px;
        img{
            padding-right: 5px;
        }
    }
    .comments__row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .comment{
        display: flex;
        flex-direction: column;
        padding: 0 20px 0 20px;
        width: 600px;
    }
    .comments__info {
        display: flex;
        flex-direction: column;
        position: relative;
        background: #FFFFFF;
        box-shadow: 0px 7px 30px rgba(0, 0, 0, 0.18);
        border-radius: 20px;
        padding: 20px;
    }
    .comments__info:before {
        content: "";
        width: 0; 
        height: 0;
        right: calc(87% - 12px);
        top: 97%;
        transform: rotate(-90deg);
        position: absolute; 
        border-top: 15px solid transparent;
        border-right: 24px solid #FFFFFF;
        border-bottom: 15px solid transparent;
        border-radius: 5px;
        }
    .comments__date {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #B3B3B3;
        padding-bottom: 10px;
    }
    .comments__text {
        font-style: italic;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #2D2D2D;
        padding-bottom:100px ;
    }
    .comments__commentator {
        display: flex;
        align-items: center;
        padding-top: 25px;
        padding-left: 20px;
    }
    .commentator__img {
        padding-right: 20px;

    }
    .commentator__text {
        font-style: italic;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #000000;
    }
}



.performance {
    margin-top: 100px;
    .performance__content {
        display: flex;
        flex-direction: column;
    }
    .performance__top {

    }
    .performance__title {
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        text-transform: uppercase;
        color: #0D444D;
        padding-bottom: 60px;
    }
    .performance__row {
        display: flex;
        justify-content: space-between;

    }
    .animal__item {
        display: flex;
        flex-direction: column;
    }
    .animal__img {
        img{
            width: 80px;
            height: 80px;
        }
    }
    .animal__text {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        text-transform: uppercase;
        color: #2D2D2D;
    }
}


footer{
    margin-top: 120px ;
    background-color: #2A8086;
    .footer__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px 0 50px 0;
    }
    .menu {
        display: flex;
        justify-content: space-between;
        ul{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 0 0 10px;
            li{
                padding: 0 10px 0 10px;
                list-style: none;
                a{
                    text-decoration: none;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 24px;
                    text-transform: uppercase;
                    color: #C5E1E6
                }
                &:hover{
                    border-bottom: 1px solid white;
                }
            }
        }
    }
    .header__logo {
        padding-right: 15px;
    }
    .footer__text {
        display: flex;
        flex-direction: column;
        p{
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            text-align: right;
            text-transform: uppercase;
            color: #FFFFFF
        }
    }
}