* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "IBM Plex Sans Thai Looped", sans-serif;
  font-family: "Roboto Mono", monospace;
  background: #2A8086;
}

.container {
  width: 1600px;
  margin: 0 auto;
}

header {
  padding-bottom: 15px;
  -webkit-filter: drop-shadow(0px 1px 10px rgba(18, 87, 91, 0.25));
          filter: drop-shadow(0px 1px 10px rgba(18, 87, 91, 0.25));
  background-color: #2A8086;
}
header .header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 0 10px;
}
header .menu ul li {
  padding: 0 10px 0 10px;
  list-style: none;
}
header .menu ul li a {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: #C5E1E6;
}
header .menu ul li:hover {
  border-bottom: 1px solid white;
}
header .header__logo {
  padding-right: 15px;
}
header .header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .header__buttons .header__search {
  width: 32px;
  height: 32px;
  padding: 3px;
}
header .header__buttons .header__login {
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #C5E1E6;
  padding: 0 20px 0 20px;
}
header .header__buttons .header__button {
  border: 1px solid #C5E1E6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  color: #C5E1E6;
  padding: 8px;
  background-color: #2A8086;
}

.map {
  margin-top: 50px;
  background-color: #2A8086;
}
.map .content__maps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.map .map__title {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #C5E1E6;
}
.map .map__img img {
  background-repeat: no-repeat;
  width: 100%;
}

footer {
  margin-top: 120px;
  background: #196469;
}
footer .footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0 50px 0;
}
footer .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 0 10px;
}
footer .menu ul li {
  padding: 0 10px 0 10px;
  list-style: none;
}
footer .menu ul li a {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: #C5E1E6;
}
footer .menu ul li:hover {
  border-bottom: 1px solid white;
}
footer .header__logo {
  padding-right: 15px;
}
footer .footer__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
footer .footer__text p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  text-transform: uppercase;
  color: #FFFFFF;
}